header{
  position: fixed;
  width: 100%;
  top: 0;
  padding: .25em;
}
.navbar{
  border: 2px solid #000;
  padding: .7em .35em;
  position: relative;
}

.search-bar{
  border: 2px solid #000;
  display: flex;
  align-items: center;
  border-radius: 2em;
  overflow: hidden;
  margin: 1.5em auto;
}
.search-bar input{
  padding: .7em .35em;
  width: 90%;
  outline: none;
}
.search-bar button{
  width: 10%;
  background: gainsboro;
  padding: .7em .35em;
}
@media (max-width: 640px){
  .nav-links{
    position: absolute;
    top: 2.7em;
    left: 0;
    background: #000;
    width: 100%;
    color: aliceblue;
    padding: .7em .35em;
    display: grid;
    gap: .5em;
    display: none;
  }
  ul.nav-links li{
    padding: .5em .25em;
    border: 2px solid whitesmoke;
  }
}