.form-wrapper{
  border: 2px solid black;
  margin: auto;
  padding: 1em .64em;
  border-radius: .25em;
}
.form-wrapper form{
  display: flex;
  flex-direction: column;
  gap: 1.9em;
}
.form-wrapper input{
  border: 1.5px solid black;
  border-radius: .25em;
  width: 100%;
  padding: .8em .4em;
  font-size: 1.125rem;
  font-weight: 500;
}

.form-wrapper button{
  border: 2px solid black;
  font-size: 1.25rem;
  font-family: monospace;
  text-transform: uppercase;
  padding-block: .72em;
  border-radius: .125em;
  cursor: pointer;
}

button.submit-btn{
  background: #000;
  color: antiquewhite;
  font-weight: 600;
  transition: all .3s ease-in-out;
  letter-spacing: .125rem;
}