.separator{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .25em;
  margin-block: .8em;
}
.line{
  width: 100%;
  height: 2px;
  background-color: #000;
}
.separator > h3{
  font-size: 1.2rem;
  font-weight: 500;
  color: #000;
}
form .pass-reset{
  font-size: 1.125rem;
  font-weight: 500;
  color: #000;
  margin-top: .5em;
  cursor: pointer;
}